:root {
  --primary: #06BBCC;
  --light: #F0FBFC;
  --dark: #181d38;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #52565b;
  background-color: #fff;
}

/* common css */
.btn-primary {
  background-color: #06BBCC !important;
  border-color: #06BBCC !important;
}

.col-sky {
  color: #06BBCC;
}

.font-n {
  font-family: "Nunito", sans-serif;
}

.font-wt-8 {
  font-weight: 800 !important;
}
.btns{
  border-radius: 0!important;
}

/* comomn css */
/*  header */
.logo {
  font-family: "Nunito", sans-serif;
  color: #06bbcc !important;
}

.logo h2 {
  font-weight: 700 !important;
}

.links {
  color: #000000 !important;
  font-size: 15px;
  font-weight: 500;
  font-family: "Heebo", sans-serif;
  margin-right: 30px;
  outline: none;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:100%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}
.links:hover{
  color: #06BBCC !important;
}
.active {
  color: #06BBCC !important;
}

.join {
  font-weight: 600;
  font-family: "Nunito", sans-serif;

}

.dropdown-toggle::after {
  content: none;
}

.custom-toggler.navbar-toggler {
  border-color: rgba(0, 0, 0, 0.1) !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.55)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

/*  section1:-banner */
.abc {
  top: 28% !important;
  left: 6% !important;
  text-align: left !important;

}

@media only screen and (max-width: 1015px) {
  .abc {
    top: 15px !important;
  }
}

@media only screen and (max-width: 705px) {
  .carosual-img {
    height: 500px;
  }
}

.banner-anim {
  position: relative;
  animation: mymove 2s;
  /* animation-fill-mode: forwards; */
}

@keyframes mymove {

  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(0px);
  }
}

.read-anim {
  position: relative;
  animation: readmove 2s;
  animation-fill-mode: forwards;
}

@keyframes readmove {

  0% {
    transform: translateX(-200px);
  }

  100% {
    transform: translateX(0px);
  }
}

.join-anim {
  position: relative;
  animation: joinmove 2s;
  animation-fill-mode: forwards;
}

@keyframes joinmove {

  0% {
    transform: translateX(200px);
  }

  100% {
    transform: translateX(0px);
  }
}

/* section:2 service */
.service-item {
  background-color: #F0FBFC;
  transition: .5s;
}

.service-item:hover .service-icon {
  color: #fff;

}

.service-item:hover {
  background-color: #06BBCC;
  color: white;
  margin-top: -12px;
}

/*section 3: about us  */
.about-img {
  object-fit: cover;
  width: 100%;
  height: 445px;
}

.about-div {
  position: relative;
}

.about-title {
  font-size: 16px;
  font-weight: 700;
}

.about-title::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 2px;
  top: 15px;
  left: 120px;
  background-color: #06BBCC;
  z-index: 10;
}

.about-title::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 3px;
  top: 5px;
  left: 120px;
  background-color: #06BBCC;
  z-index: 10;
}

/* section 4: categorys  */
.cat-title {
  font-weight: 700;
  display: inline-block;
  position: relative;
}

.cat-title::before {
  position: absolute;
  content: "";
  width: 210px;
  height: 2px;
  top: 4px;
  left: -40px;
  background-color: #06BBCC;
  z-index: -1;
}

.cat-title::after {
  position: absolute;
  content: "";
  width: 250px;
  height: 3px;
  bottom: 5px;
  left: -60px;
  background-color: #06BBCC;
  z-index: -1;
}

.cat1-img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  transition: all 2s ease;
}

.conimg {
  overflow: hidden;

}

.conimg:hover .cat1-img {
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

.cat-a {
  position: relative;
}

.cat-textbox {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1px;
  color: #000000;
}

/* section 5: course */
.course-sec {
  background-color: #F0FBFC;
}

.course-top-sec {
  position: relative;
}

.course-top-sec2 {
  overflow: hidden;
}

.course-img {
  transition: all 2s ease;
}

.course-top-sec2:hover .course-img {
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

.course-text {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.course-text a:first-child {
  border-radius: 30px 0 0 30px;
}

.course-text a:last-child {
  border-radius: 0px 30px 30px 0px;
}

/* section 6:instruction */
.instruction-social {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -23px;
}

/* section 7:testimonial */
/* slide */
.slick-dots{
  display: flex;
  justify-content: center;
  margin: 0 5px;
}

.slick-dots li{
  margin: 0 5px;
  margin-top:15px;
  list-style: none;
}

.slick-dots li button{
  font-size: 0;
  height: 15px;
  width: 15px;
  border: 1px solid #ccc;
  background-color:white;
}

/* .slick-dots li button:focus{
  background-color: #06BBCC;
} */

.slick-center div{
  background-color:#06BBCC !important;
}
.slick-dots li.slick-active button {
	background:#06BBCC;

}
/* slide */

/* section 8 : footer */
footer{
  background-color:#181d38;
  color:#f0fbfc;
}

.btn.btn-link{
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  text-transform: capitalize;
text-decoration: none;
transition: .3s;


}
.btn.btn-link:hover{
letter-spacing:2px;

}
.fas:link, .fa:visited, .fa:hover, .fa:active
{
    color: #F0FBFC;
    text-decoration: none;
}

.footer-icon{
  font-weight: 900;
  margin-right: 10px;

}

.btn-social{
  margin-right:5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:50%;
  border: 1px solid #ffffff;
  text-decoration: none;
}
.social-icon{
color: #f0fbfc;
}

.btn-social:hover{
  background-color: white;
}
.btn-social:hover .social-icon{
 color:#06BBCC;
}


.footer-last{
  padding: 25px 0;
  font-size: 15px;
  color: #f0fbfc;
}

.footer-botom{
  color: #f0fbfc;
  text-decoration: none;
}

.f-menu a{
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);

}
.f-menu:last-child a{
  border-right: 1px solid #181d38 ;
}
/* back to top */
#back-to-top-btn {
  /*   display: none; */
  position: fixed;
  bottom: 60px;
  right: 50px;
  font-size: 26px;
  width: 48px;
  height: 48px;
  background-color: #06BBCC;
  color: white;
  cursor: pointer;
  outline: none;
  border: 3px solid #06BBCC;
  /* border-radius: 50%; */
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

/* #back-to-top-btn:hover, #back-to-top-btn:focus {
      color: #fff;  
    } */

@media(max-width: 992px) {
  .container {
    padding: 20px 100px;
  }

  #back-to-top-btn {
    font-size: 22px;
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
  }
}

@media(max-width:768px) {
  body {
    font-size: 16px;
  }

  .container {
    padding: 10px 50px;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 22px;
  }

  hr {
    margin: 30px 0;
  }

  #back-to-top-btn {
    font-size: 18px;
    width: 32px;
    height: 32px;
    bottom: 6px;
    right: 6px;
  }
}

/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

/* zoomIn */
/* @keyframes btnEntrance { 
      from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
      }
      to {
        opacity: 1;
      }    
    } */

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}

/* zoomOut */
/* @keyframes btnExit {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
      }
    } */

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

/* back to top */
/* animation start */
.service-skiled{
animation: ServiceSkiled;
animation-duration: 750ms;
animation-delay: 0.1s;
animation-direction:alternate;
}
@keyframes  ServiceSkiled{
  0%{
    transform: translateY(300px);
  }
  100%{
    transform: translateY(0px);
  }
  
}

.service-class{
  animation: ServiceClass;
  animation-duration: 750ms;
  animation-delay: 0.3s;
  animation-direction:alternate;
  }
  @keyframes ServiceClass{
    0%{
      transform: translateY(300px);
    }
    100%{
      transform: translateY(0px);
    }
    
  }

  .service-home{
    animation: ServiceClass;
    animation-duration: 750ms;
    animation-delay: 0.5s;
    animation-direction:alternate;
    }
    @keyframes ServiceHome{
      0%{
        transform: translateY(300px);
      }
      100%{
        transform: translateY(0px);
      }
      
    }

    .service-book{
      animation: ServiceBook;
      animation-duration: 750ms;
      animation-delay: 0.7s;
      animation-direction:alternate;
      }
      @keyframes ServiceBook{
        0%{
          transform: translateY(300px);
        }
        100%{
          transform: translateY(0px);
        }
        
      }
.cat-zoomin1{
  animation-name:zoom-in;
  animation-duration: 1s;
  animation-delay: 0.1s;
  animation-direction: alternate;
}

      @keyframes zoom-in{
        0% {
        transform: scale(0.2, 0.2);
        }
        100% {
        transform: scale(1, 1);
        }
      }
.cat-zoomin2{
        animation-name:zoom-in2;
        animation-duration: 1s;
        animation-delay: 0.3s;
        animation-direction: alternate;
      }
      
            @keyframes zoom-in2{
              0% {
              transform: scale(0.2, 0.2);
              }
              100% {
              transform: scale(1, 1);
              }
              }
.cat-zoomin3{
                animation-name:zoom-in3;
                animation-duration: 1s;
                animation-delay: 0.5s;
                animation-direction: alternate;
              }
              
                    @keyframes zoom-in3{
                      0% {
                      transform: scale(0.2, 0.2);
                      }
                      100% {
                      transform: scale(1, 1);
                      }
                      }
.cat-zoomin4{
                        animation-name:zoom-in4;
                        animation-duration: 1s;
                        animation-delay: 0.7s;
                        animation-direction: alternate;
                      }
                      
                            @keyframes zoom-in4{
                              0% {
                              transform: scale(0.2, 0.2);
                              }
                              100% {
                              transform: scale(1, 1);
                              }
                              }
/* animation end  */